<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <style>
        div {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Действие</th>
        </tr>
        <tr th:each="member : ${members}">
            <td th:text="${member.user.firstName}"></td>
            <td th:text="${member.user.lastName}"></td>
            <td><a th:href="${'/delMember/'+member.user.id}">Удалить</a></td>
        </tr>
    </table>
</div>
<div>
    <h2><a href="/endContest">Завершить конкурс</a></h2>
</div>
</body>
</html>