<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <style>
        div {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>action</th>
        </tr>
        <tr th:each="member : ${members}">
            <td th:text="${member.user.firstName}">Onions</td>
            <td th:text="${member.user.lastName}">2.41</td>
            <td><a th:href="${'/delMember/'+member.user.userId}">delete</a></td>
        </tr>
    </table>
</div>
<div>
    <h2><a href="/endContest">Завершить прием участников</a></h2>
</div>
</body>
</html>