<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>

    <style>
        form {
            position: relative;
            left: 50vw;
            top: 50vh;
            width: 300px;
            display: flex;
            flex-direction: column;
            transform: translate(-50%, -50%);
        }

        form > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        form > div:last-child {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="text-align: center" th:if="${error != null}">
    <div th:if="${error == '1'}">
        <h3>Пользователь не найден. Попробуйте другой id или
            <a href="/register">зарегистрируйтесь</a></h3>
    </div>
</div>

<form action="/login" method="post">
    <div>
        <label> Your ID: </label>
        <input type="text" name="id"/>
    </div>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>
</form>
</body>
</html>