<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        form {
            position: relative;
            left: 50vw;
            top: 50vh;
            width: 300px;
            display: flex;
            flex-direction: column;
            transform: translate(-50%, -50%);
        }

        form > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        form > div:last-child {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

<div style="text-align: center" th:if="${error != null}">
    <div th:if="${error == '1'}">
        <h3>Пожалуйста заполните оба поля</h3>
    </div>
</div>

<form action="/register" method="post">
    <div>
        <label> Логин: </label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label> Пароль: </label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label> Имя: </label>
        <input type="text" name="firstName"/>
    </div>
    <div>
        <label> Фамилия: </label>
        <input type="text" name="lastName"/>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться"/>
    </div>
</form>
</body>
</html>