<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddMember</title>
    <style>
        form {
            position: relative;
            left: 50vw;
            top: 50vh;
            width: 300px;
            display: flex;
            flex-direction: column;
            transform: translate(-50%, -50%);
        }

        form > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        form > div:last-child {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<form action="/addMember" method="post">
    <div>
        <label> Full Name: </label>
        <input type="text" name="fullName"/>
    </div>
    <div>
        <input type="submit" value="send"/>
    </div>


</form>
</body>
</html>