<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddMember</title>
</head>
<body>
<form action="/addMember" method="post">
    <div><label> Full Name: <input type="text" name="fullName"/></label></div>
    <div><label> key: <input type="password" name="key"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>

    <div>Users</div>
    <ul>
        <li th:each="member: ${members}">
            <div>
                <b th:text="${member.fullName}"></b>
                <span th:text="${member.key}"></span>
            </div>
        </li>
    </ul>
</form>
</body>
</html>