<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Children</title>
    <style>
        div {
            display: flex;
            justify-content: center;
        }

    </style>
</head>
<body>
<div>
    <h3 th:text="${'Имя: '+child.user.firstName}"></h3>
</div>
<div>
    <h3 th:text="${'Фамилия: '+child.user.lastName}"></h3>
</div>
<div>
    <h3 th:text="${'Хотел бы получить:'+child.wants}"></h3>
</div>
<div>
    <h3 th:text="${'Не хотел бы получить: '+child.notWants}"></h3>
</div>


</body>
</html>